@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="hero">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 container">
                <div class="row">
            <div class="text-info h1">
                Pending
            </div>
            <!--  Pending -->
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">CustomerIMG</th>
                            <th scope="col">CarIMG</th>
                            <th scope="col" class="col-md-8">Details</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th>
                            <td scope="col">
                                <img class="rounded-5"width="50" height="50"  src="~/Bundle/img/team-1.jpg" />
                            </td>
                            <td scope="col">
                                <img class="rounded-5" width="50" height="50" src="~/Bundle/img/car-rent-1.png" />
                            </td>
                            <td scope="col" class="col-md-8">
                                <div class="row">
                                    <div class="h3 col">
                                        Name
                                    </div>
                                    <div class="h3 col">
                                        Status
                                    </div>
                                    <div class="col text-danger h5">
                                        From: <span>date</span>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Car Licence Number</p>
                                        </div>
                                        <div class="col">
                                            <p>Status</p>
                                        </div>
                                        <div class="col text-danger">
                                            Till: <span>date</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                </div>
             </div>
            <!--  In Progress  -->
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                    
                <div class="text-warning h2">
                    In Progress
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CustomerIMG</th>
                                <th scope="col">CarIMG</th>
                                <th scope="col" class="col-md-8">Details</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">1</th>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/team-1.jpg" />
                                </td>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/car-rent-1.png" />
                                </td>
                                <td scope="col" class="col-md-8">
                                    <div class="row">
                                        <div class="h3 col">
                                            Name
                                        </div>
                                        <div class="h3 col">
                                            Status
                                        </div>
                                        <div class="col text-danger h5">
                                            From: <span>date</span>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>Car Licence Number</p>
                                            </div>
                                            <div class="col">
                                                <p>Status</p>
                                            </div>
                                            <div class="col text-danger h5">
                                                Till: <span>date</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6 container">
                <div class="row">
            <!--  Complete  -->
            <div class="text-success h2">
                Complete
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CustomerIMG</th>
                                <th scope="col">CarIMG</th>
                                <th scope="col" class="col-md-8">Details</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">1</th>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/team-1.jpg" />
                                </td>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/car-rent-1.png" />
                                </td>
                                <td scope="col" class="col-md-8">
                                    <div class="row">
                                        <div class="h3 col">
                                            Name
                                        </div>
                                        <div class="h3 col">
                                            Status
                                        </div>
                                        <div class="col text-danger h5">
                                            From: <span>date</span>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>Car Licence Number</p>
                                            </div>
                                            <div class="col">
                                                <p>Status</p>
                                            </div>
                                            <div class="col text-danger h5">
                                                Till: <span>date</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
                </div>
            </div>
            <div class="col-md-6 container">
                <div class="row">
            <!--  Canceled  -->
            <div class="text-danger h2">
                Canceled
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">CustomerIMG</th>
                                <th scope="col">CarIMG</th>
                                <th scope="col" class="col-md-8">Details</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">1</th>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/team-1.jpg" />
                                </td>
                                <td scope="col">
                                    <img class="rounded-5" width="50" height="50" src="~/Bundle/img/car-rent-1.png" />
                                </td>
                                <td scope="col" class="col-md-8">
                                    <div class="row">
                                        <div class="h3 col">
                                            Name
                                        </div>
                                        <div class="h3 col">
                                            Status
                                        </div>
                                        <div class="col text-danger h5" >
                                            from: <span>date</span>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>Licence Number</p>
                                            </div>
                                            <div class="col">
                                                <p>Status</p>
                                            </div>
                                            <div class="col text-danger h5">
                                                Till: <span>date</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>




